
@{
    ViewBag.Title = "Settings";
}

<div class="row mt-5">
    <div class="col-5">
        <div class=" row col-12 card">
            <div class="card-header">
                <i class="bi-gear-wide-connected"></i>
                API Configuration
            </div>
            <div class="card-body">

            </div>
        </div>
        <div class=" row col-12 card mt-5">
            <div class="card-header">
                <i class="bi-database-fill-gear"></i>
                Database Connection
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                <i class="bi-question-circle"></i>
                List of Questions and Answers
            </div>
            <div class="card-body">
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Question Title</th>
                            <th>Answer</th>
                            <th></th>
                            <th></th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Stated calls was recorded?</td>
                            <td>No</td>
                            <td><a href="#">View</a></td>
                            <td><a href="#">Edit</a></td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Stated Licensed Agent?</td>
                            <td>No</td>
                            <td><a href="#">View</a></td>
                            <td><a href="#">Edit</a></td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Confirmed Medicare A and B?</td>
                            <td>Yes</td>
                            <td><a href="#">View</a></td>
                            <td><a href="#">Edit</a></td>
                            <td>40</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
