@{
    ViewBag.Title = "Home";
}

@*<div class="card mt-4">
        <div class="card-header bg-primary text-light">
            <i class="bi-file-earmark-text"></i>
            Summary
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6"> No Calls Handled</div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <div class="col-6">Enrollments</div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <div class="col-6">Compliance fail</div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <div class="col-6">Better Salesmanship</div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <div class="col-6">Recommendations</div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6"></div>
            </div>
        </div>
    </div>*@
<div class="row">
    @*<div class="col-1"></div>*@
    <div class="card mt-4 bg-success text-white col-5">
        <div class="card-body">
            <i class="bi-telephone"></i>
            No. of Calls Handled
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="bi-arrow-right-circle"></i></div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card mt-4 bg-primary text-white col-5">
        <div class="card-body">
            <i class="bi-person-vcard"></i>
            Enrollments
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="bi-arrow-right-circle"></i></div>
        </div>
    </div>
</div>
<div class="row">
    @*<div class="col-1"></div>*@
    <div class="card mt-4 bg-danger text-white col-5">
        <div class="card-body">
            <i class="bi-telephone-x"></i>
            Compliance fail
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="bi-arrow-right-circle"></i></div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card mt-4 bg-secondary text-white col-5">
        <div class="card-body">
            <i class="bi-briefcase"></i>
            Better Salesmanship
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="bi-arrow-right-circle"></i></div>
        </div>
    </div>
</div>
<div class="row">
    @*<div class="col-1"></div>*@
    <div class="card mt-4 bg-info text-dark col-5">
        <div class="card-body">
            <i class="bi-hand-thumbs-up"></i>
            Recommendations
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-dark stretched-link" href="#">View Details</a>
            <div class="small text-dark"><i class="bi-arrow-right-circle"></i></div>
        </div>
    </div>
</div>